<div class="inner-content">

  <div class="row">
      <div class="col-12">
          <div class="page-title d-flex justify-content-between align-items-center mb-4">
              <h1>Lustily</h1>
              <a class="btn btn-primary btn-sm">Add new</a>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-12 mb-4 ">
          <div class="card">
              <div class="card-header">
                  <div class="card-flex d-flex justify-content-between align-items-center">
                      <h2>Lustily List</h2>
                      <div class="searchBox">
                          <button class="btn"><i class="fa fa-search"></i></button>
                          <input class="form-control" type="search" placeholder="Search here...">
                      </div>
                  </div>
              </div>
              <div class="card-body">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>Code</th>                        
                              <th>Description</th>                            
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>000123</td>
                              <td>Description here...</td>                              
                              <td>
                                  <div class="tblAction">
                                      <a title="View" href="#"><i class="bi bi-eye"></i></a>
                                      <a href="#"><i class="bi bi-pencil"></i></a>
                                      <a href="#"><i class="bi bi-trash3"></i></a>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <td>000123</td>
                              <td>Description here...</td>                              
                              <td>
                                  <div class="tblAction">
                                      <a title="View" href="#"><i class="bi bi-eye"></i></a>
                                      <a href="#"><i class="bi bi-pencil"></i></a>
                                      <a href="#"><i class="bi bi-trash3"></i></a>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <td>000123</td>
                              <td>Description here...</td>                              
                              <td>
                                  <div class="tblAction">
                                      <a title="View" href="#"><i class="bi bi-eye"></i></a>
                                      <a href="#"><i class="bi bi-pencil"></i></a>
                                      <a href="#"><i class="bi bi-trash3"></i></a>
                                  </div>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <div class="card-footer">
                  <div class="d-flex justify-content-between p-2">
                      Pagination here...
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>
