<div class="inner-content">

  <div class="row">
      <div class="col-12">
          <div class="page-title d-flex justify-content-between align-items-center mb-4">
              <h1>Customer Pricing</h1>
              <a class="btn btn-secondary btn-sm" href="../clothe-display/clothe-display-list" >Show Vendor Maintenance</a>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-12 mb-4 ">
          <div class="card">
              <div class="card-header">
                  <div class="card-flex d-flex justify-content-between align-items-center">
                      <h2>Customer Pricing List</h2>
                      <div class="searchBox">
                          <button class="btn"><i class="fa fa-search"></i></button>
                          <input class="form-control" placeholder="Search Customer Name" type="search"/>
                      </div>
                  </div>
              </div>
              <div class="card-header">
                  <div class="row">
                      <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
                          <label class="form-label" for="Buyer">Buyer</label>
                          <select id="Buyer" class=" form-select">
                              <option hidden>--</option>
                              <option>Buyer one</option>
                              <option>Buyer tow</option>
                              <option>Buyer three</option>
                          </select>
                      </div>
                      <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
                          <label class="form-label" for="allCustomer">All Customer</label>
                          <select id="allCustomer" class=" form-select">
                              <option hidden>--</option>
                              <option>All Customer one</option>
                              <option>All Customer tow</option>
                              <option>All Customer three</option>
                          </select>
                      </div>
                      <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
                          <label class="form-label" for="salesRep">Sales Rep</label>
                          <select id="salesRep" class=" form-select">
                              <option hidden>--</option>
                              <option>Sales Rep one</option>
                              <option>Sales Rep tow</option>
                              <option>Sales Rep three</option>
                          </select>
                      </div>
                  </div>
              </div>
              <div class="card-body">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>Customer Number</th>
                              <th>Name</th>
                              <th>Class</th>
                              <th>Discription</th>
                              <th>Level</th>
                              <th>Adj</th>
                              <th class="text-center">%</th>
                              <th>Price $</th>
                              <th>Retail Level or %</th>
                              <th>Retail Amount</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>101010</td>
                              <td>idg</td>
                              <td>90</td>
                              <td>Other :R M</td>
                              <td>Price 1</td>
                              <td>0.00</td>
                              <td class="text-center"><i class="bi bi-check-circle-fill text-success icon-18"></i></td>
                              <td>0.00</td>
                              <td>1</td>
                              <td>0.00</td>
                              <td>
                                  <div class="tblAction">
                                      <a title="View" href="#"><i class="bi bi-eye"></i></a>
                                      <a href="#"><i class="bi bi-pencil"></i></a>
                                      <a href="#"><i class="bi bi-trash3"></i></a>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <td>101010</td>
                              <td>idg</td>
                              <td>90</td>
                              <td>Other :R M</td>
                              <td>Price 1</td>
                              <td>0.00</td>
                              <td class="text-center"><i class="bi bi-x-circle-fill text-danger icon-18"></i></td>
                              <td>0.00</td>
                              <td>1</td>
                              <td>0.00</td>
                              <td>
                                  <div class="tblAction">
                                      <a title="View" href="#"><i class="bi bi-eye"></i></a>
                                      <a href="#"><i class="bi bi-pencil"></i></a>
                                      <a href="#"><i class="bi bi-trash3"></i></a>
                                  </div>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <div class="card-footer">
                  <div class="d-flex justify-content-between p-2">
                      Pagination here... 
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>